/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.theme-light,
.theme-dark {
    --pomodoro-timer-elapsed-color: var(--color-green);
    --pomodoro-timer-color: var(--text-faint);
    --pomodoro-timer-text-color: var(--text-normal);
    --pomodoro-timer-dot-color: var(--color-red);
}

.status-bar-item.plugin-pomodoro-timer {
    padding-top: 0;
    padding-bottom: 0;
}

.pomodoro-focus {
    margin-left: 0.5rem;
    cursor: pointer;
}

.pomodoro-tasks-item-desc * {
    font-size: 0.8rem !important;
}

.pomodoro-tasks-item-desc p {
    width: 100%;
    line-height: 1.1;
    height: 2.2em;
    padding: 0;
    margin: 0;
    overflow: hidden;
    line-break: anywhere;
}

.pomodoro-tasks-header {
    display: flex;
    align-items: stretch; /* stretch children vertically */
    justify-content: space-between;
    height: 100%;
    background-color: var(--background-modifier-active-hover);
}

.pomodoro-tasks-left,
.pomodoro-tasks-right {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0.4rem;
}

.pomodoro-tasks-left {
    padding: 0.5rem 1.5rem 0.5rem 0.5rem; /* Larger click area */
}

.pomodoro-tasks-right {
    padding: 0rem 1rem 0rem 1.5rem; /* Larger click area */
}

.pomodoro-tasks-right:hover {
    background-color: rgba(255, 255, 255, 0.02); /* Optional hover feedback */
    border-radius: 5px;
}

.pomodoro-tasks-header-label {
    font-size: 1.1rem;
    padding-right: 1.4rem;
    letter-spacing: 0rem;
    font-weight: bold;
    text-transform: uppercase;
}

.pomodoro-tasks-file-name {
    margin-left: auto; /* push to the right */
    min-width: 0; /* allow ellipsis */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-style: italic;
    cursor: pointer;
}

.pomodoro-tasks-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem 1rem;
    display: flex;
}

.pomodoro-tasks-wrapper {
    width: 100%;
    border: 1px solid var(--background-modifier-border);
    border-radius: 5px;
    margin-bottom: 2.5rem;
}

.pomodoro-tasks-wrapper input {
    width: 100%;
    font-size: 0.8rem;
    border: none;
    border-radius: 0;
    background: transparent;
}

.pomodoro-tasks-wrapper input:active {
    border: none;
    box-shadow: none;
}

.pomodoro-tasks-wrapper input:focus {
    border: none;
    box-shadow: none;
}

.pomodoro-tasks-name-row svg {
    margin-right: 5px;
    color: var(--color-blue);
}

.pomodoro-tasks-checked .pomodoro-tasks-name-row svg {
    color: var(--color-green);
}

.pomodoro-tasks-name-row {
    width: 100%;
    display: flex;
    align-items: baseline;
}

.pomodoro-tasks-progress {
    font-size: 0.7rem;
    color: var(--text-muted);
    text-align: end;
    text-wrap: nowrap;
    overflow: hidden;
}
